<!--

    <ngx-transition [condition]="true"
    [enter]="'transition ease-out duration-100'"
    [enterFrom]="'transform opacity-0 scale-95'"
    [enterTo]="'transform opacity-100 scale-100'"
    [leaving]="'transition ease-in duration-75'"
    [leavingFrom]="'transform opacity-100 scale-100'"
    [leavingTo]="'transform opacity-0 scale-95'">

    </ngx-transition>

-->
<ng-template #transitionTemplate>
   <ng-content></ng-content>
</ng-template>

<ng-container #transitionContainer [ngTemplateOutlet]="closed ? null : transitionTemplate"></ng-container>
